altair==4.2.0
argon2-cffi
astroid
async-generator==1.10
attrs
autograd==1.3
backcall
backports.functools-lru-cache
bleach
blinker==1.4
blis==0.7.7
cachetools==5.2.0
catalogue==2.0.7
certifi==2022.5.18.1
cffi
charset-normalizer==2.0.12
click==8.1.3
colorama
commonmark==0.9.1
cycler
cymem==2.0.6
debugpy
decorato
defusedxml
dill
dnspython==2.2.1
en-core-web-trf
entrypoints
filelock==3.7.1
fonttools
funcy==1.17
future
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
huggingface-hub==0.7.0
idna==3.3
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolve
langcodes==3.3.0
lazy-object-proxy
Lifetimes
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
munkres==1.1.4
murmurhash==1.0.7
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr==2.8.1
numpy 
olefile
packaging
pandas==1.3.4
pandocfilters
parso
pathy==0.6.1
patsy
pexpect
pickleshare
Pillow
platformdirs
preshed==3.0.6
prometheus-client
prompt-toolkit
protobuf==3.20.1
ptyprocess
pyarrow==8.0.0
pycparser
pydantic==1.8.2
pydeck==0.7.1
Pygments
pyLDAvis==3.3.1
pylint
pymongo==4.1.1
Pympler==1.0.1
pyparsing
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq
qtconsole
QtPy
regex==2022.6.2
requests==2.28.0
rich==12.4.4
scikit-learn
scipy
seaborn
semver==2.13.0
Send2Trash
six
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
spacy==3.3.1
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-transformers==1.1.6
srsly==2.4.3
statsmodels
streamlit==1.10.0
terminado
testpath
thinc==8.0.17
threadpoolctl
tokenizers==0.12.1
toml==0.10.2
tomli
tomlkit
toolz==0.11.2
torch==1.11.0
tornado
tqdm==4.64.0
traitlets
transformers==4.19.4
typer==0.4.1
typing_extensions
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
validators==0.20.0
wasabi==0.9.1
watchdog==2.1.9
wcwidth
webencodings==0.5.1
widgetsnbextension
wrapt
xgboost==1.5.0
zipp
